# API

API_NAME=luizalabs-backend
API_AMBIENT=development
API_PORT=3000
API_TOKEN_SECRET=seu-token-aki
API_BASE_URL=http://localhost
API_VERSION=/api/v1

# POSTGRES

POSTGRES_PORT=5432
POSTGRES_USER=luizalabs
POSTGRES_PASSWORD=luizalabs

# MONGODB

MONGODB_HOST=localhost
MONGODB_PORT=27017
MONGODB_NAME=luizalabs
MONGODB_USER=luizalabs
MONGODB_PASSWORD=luizalabs
